$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;
$color-grey-light-3: #dedede;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-primary: #4caf50;

$color-secondary: #efb237;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;900&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: "Noto Sans TC", sans-serif;
	background-color: white;
	// height: 100vh;
	display: flex;
	justify-content: center;
	padding: 3rem;
}
