@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;900&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: "Noto Sans TC", sans-serif;
	display: flex;
	justify-content: center;
	padding: 3rem;

	min-height: 100vh;
	background-image: linear-gradient(120deg, #f6d365, #fda085);
}

@keyframes moveDownFirst {
	0% {
		opacity: 0;
		transform: translateY(-5rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes moveDown {
	0% {
		transform: translateY(-5.6rem);
	}

	100% {
		transform: translateY(0);
	}
}
