.todoList {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	gap: 5px;
	transition: all 1s;
	width: vw;

	&__item {
		background-color: $color-grey-light-1;
		padding: 0rem 1rem;
		border-left: 0.7rem solid $color-primary;
		font-size: clamp(2rem, 3vw, 2.5rem);
		display: flex;
		align-items: center;
		justify-content: space-between;

		// &:nth-child(even) {
		// 	background: $color-grey-light-2;
		// }
	}

	&__text {
		flex: 1; // keep checkbox in size
		margin-bottom: 0.2rem;
		padding: 0.5rem;
		font-weight: 400;
		cursor: pointer;

		@include respond(phone) {
			padding: 0rem;
		}
	}

	&__checkbox {
		height: 2.5rem;
		width: 2.5rem;
		margin-right: 1rem;

		@include respond(phone) {
			transform: scale(0.8);
		}

		&:checked ~ span {
			cursor: default;
			text-decoration: line-through;
			color: $color-grey-dark-1;
		}
	}

	&__dueDate {
		padding: 1rem;
		font-size: clamp(1.3rem, 2vw, 1.7rem);
		border: none;
		background-color: inherit;
	}

	&__fhbox {
		display: flex;
		align-items: center;
	}

	&__shbox {
		display: flex;
		align-items: center;
	}
}

.btn {
	background-color: inherit;
	padding: 0.3rem;
	cursor: pointer;
	transition: all 0.1s;

	@include respond(phone) {
		transform: scale(0.7);
	}

	&:hover img {
		transform: translateY(-2px);
	}

	&:active img {
		transform: translateY(0);
	}
}

[slide-in-from] {
	opacity: 0;
	transform: translateY(var(--translateY, 0)) translateX(var(--translateX, 0));
	animation: slideInFrom 0.25s ease-out forwards;
}

[slide-in-from^="top"] {
	--translateY: -100%;
}
[slide-in-from^="bottom"] {
	--translateY: 100%;
}
[slide-in-from$="left"] {
	--translateX: -100%;
}
[slide-in-from$="right"] {
	--translateX: 100%;
}

@keyframes slideInFrom {
	to {
		transform: unset;
		opacity: unset;
	}
}

[slide-out-to] {
	opacity: 1;
	animation: slideOutTo 0.25s ease-in forwards;
}

@keyframes slideOutTo {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(100%);
		opacity: 0;
	}
}
