.todoList {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	gap: 5px;
	transition: all 1s;

	&__item {
		background-color: $color-grey-light-1;
		padding: 0rem 2rem;
		border-left: 0.7rem solid $color-primary;
		font-size: 2.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;

		// &.show:first-child {
		// 	animation: moveDownFirst 0.5s ease;
		// }

		// &.show:not(:first-child) {
		// 	animation: moveDown 0.5s ease;
		// }

		// &:nth-child(even) {
		// 	background: $color-grey-light-2;
		// }
	}

	&__text {
		// padding: 1rem 3rem 1.5rem 1rem;
		padding: 1rem;

		font-weight: 400;
		cursor: pointer;
	}

	&__checkbox {
		height: 2.5rem;
		width: 2.5rem;
		margin-right: 1rem;

		&:checked ~ span {
			cursor: default;
			text-decoration: line-through;
			color: $color-grey-dark-1;
		}
	}

	&__dueDate {
		padding: 1rem;
		font-size: 1.7rem;
		border: none;

		background-color: inherit;
	}

	&__fhbox {
		display: flex;
		align-items: center;
	}

	&__shbox {
		display: flex;
		align-items: center;
	}
}

.btn {
	background-color: inherit;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: all 0.1s;

	&:hover {
		transform: translateY(-2px);
	}

	&:active {
		transform: translateY(0);
	}
}

.nav {
	&__tabs {
	}
}
