.header {
	background-color: $color-grey-light-1;
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 3px;
	margin-bottom: -0.5rem;
	border: none;

	&__container {
		display: flex;
		align-items: center;
		gap: 3rem;
		margin: 1rem 0 0 1rem;

		@include respond(phone) {
			margin: 0.5rem 0 0 1rem;
			align-items: flex-start;
			flex-direction: column;
			gap: 1rem;
		}
	}

	&__title {
		color: orange;
		font-size: clamp(3rem, 4vw, 4rem);

		font-weight: 600;
		letter-spacing: 0.5rem;

		@include respond(phone) {
			letter-spacing: 1rem;
		}
	}

	&__new-list-form {
		display: flex;

		@include respond(phone) {
			display: flex;
			margin-bottom: 1rem;
		}
	}

	&__new-list-input {
		font-size: 2.5rem;
		background: transparent;
		border: 0;
		border-bottom: 1px solid $color-primary;
		outline: none;
		padding: 0.5rem 0.5rem;
		width: 50%;

		transition: border-bottom 150ms ease-in;
		// order: 2;

		&::placeholder {
			opacity: 0.4;
		}

		&:focus {
			border-bottom-width: 2px;
		}

		&:focus::placeholder {
			opacity: 0.15;
		}

		@include respond(phone) {
			padding: 0 0 0.5rem 0.5rem;
			font-size: 2rem;
		}
	}

	&__select {
		background: -webkit-linear-gradient(300deg, #fda085, hsl(13, 100%, 56%));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		// background-color: transparent;
		font-size: 3rem;
		padding: 0rem 2rem;
		border: 0;

		&:focus {
			border: 0;
			outline: 0;
		}

		@include respond(phone) {
			font-size: 2rem;
		}
	}

	&__input-box {
		padding: 1rem;
		display: flex;
		gap: 1rem;
		// align-items: center;
		// justify-content: flex-start;

		@include respond(phone) {
			margin: 0 1rem;
			padding: 0rem;
		}
	}

	&__text {
		background: transparent;
		border: 0;
		border-bottom: 1px solid $color-primary;
		outline: none;
		padding: 0.25em;
		font-size: clamp(2rem, 3vw, 2.5rem);
		width: 100%;

		transition: border-bottom 150ms ease-in;

		&::placeholder {
			opacity: 0.4;
		}

		&:focus {
			border-bottom-width: 2px;
		}

		@include respond(phone) {
			margin-bottom: 1rem;
		}
	}

	&__datetime-title {
		margin-left: 1rem;
		font-size: 2rem;

		@include respond(phone) {
			font-size: 1.2rem;
		}
	}

	&__datetime-box {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 1rem;
	}

	&__dueDate {
		width: 10rem;
		font-size: 1.5rem;

		@include respond(phone) {
			font-size: 1rem;
			width: 5rem;
		}
	}

	&__dueTime {
		height: 2.4rem;
		width: 10rem;
		font-size: 1.5rem;

		@include respond(phone) {
			font-size: 1rem;
			width: 5rem;
			height: 1.7rem;
		}
	}
}
